<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
        <label for="username">User name</label>
        <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" >
            <div *ngIf="f.username.errors.required">User name is required</div>
        </div>

        <label for="password">Password</label>
        <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        
        <button [disabled]="loading">Login</button>
        <img *ngIf="loading" />
        <a routerLink="/register" >Self Register</a>

</form>